.description {
    text-align: center;
}

.card {
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 20px 20px;
    padding: 15px;
}

.cardHeader {
    text-align: center;
    font-size: 30px;
}

.font20{
    font-size: 20px;
}

.topWrapper {
    display: flex;
}

.inline {
    display: inline;
}

.width50Percent {
    width: 50%;
}

.center {
    text-align: center;
}

.addButton {
    height: 40px;
    width: 80px;
    border: none;
    background-color: #bb0000;
    color: white;
    border-radius: 5px 15px;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.addButton:hover {
    background-color: #ff8080;
}

input {
    height: 40px;
    width: 150px;
}

select {
    width: 150px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tableWrapper {
    display: flex;
}

table {
    width: 50%;
}

.netWorth {
    border: 2px solid #800000;
    margin: 5px auto;
    padding: 5px 0;
    text-align: center;
    font-size: 30px;
}

.ratios {
    font-size: 20px;
    margin: 5px;
}

#ageInput {
    width: 60px;
    }

#futureValueResult {
    display: inline;
}
