table {
    width: 100%;
}

td {
    text-align: center;
}

.inputsWrapper {
    width: 400px;
    margin: auto;
    text-align: center;
}

.inputWrapper {
    margin: 5px 0;
}

.whiteGreen {
    color: white;
    background-color: green;
}
