.subHeader {
    text-align: center;
}

.siteFooter {
    background-color: #800000;
    color: white;
    padding: 20px;
}

.description {
    text-align: center;
}

.card {
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 20px 40px;
    padding: 15px;
}

@media print {
    .siteFooter {
        background-color: unset;
        color: black;
        padding: 5px;
    }
    .card {
        box-shadow: unset;
        border: solid 1px gray;
        margin: 20px 40px;
        padding: 5px;
    }
}
