.navigationList {
    background-color: #800000;
    padding: 10px 0;
}

@media print {
    .navigationList {
        display: none;
    }
}

.listItem {
    display: inline;
    margin: 0 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 1100px) {
    .listItem {
        display: block;
    }
}

.listItem:hover {
    background-color: #a30000;
}
