.navigationList {
text-align: center;
}

.listItem {
    display: inline-block;
    margin: 3px 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    background-color: #800000;
    padding: 3px 6px;
    border-radius: 8px;
}

.listItem:hover {
    background-color: #a30000;
}

.counter {
    display: inline-block;
    float: right;
}

@media print {
    .navigationList {
        display: none;
    }
    .counter {
        display: none;
    }
}

.masterHeader {
    background: #7b4a77;
    color: white;
    text-align: center;
    border-radius: 15px;
}
