body {
    font-family: "Times New Roman";
}

.description {
    text-align: center;
}

.inputCard {
    display: flex;
}

.calculateBtn {
    margin: 0px 40px;
}

.listOfAccounts {
    display: flex;
}

.listElement {
    margin: 0 auto;
    text-align: center;
}
