body {
    font-family: "Times New Roman";
}

.description {
    text-align: center;
}

.inputCard {
    display: flex;
}

.calculateBtn {
    margin: 0px 40px;
}

.listOfAccounts {
    display: flex;
}

.listElement {
    margin: 0 auto;
    text-align: center;
    display: grid;
}

.deleteButton {
    background-color: #800000;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px 15px;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.deleteButton:hover {
    background-color: #a30000;
}

.netWorthHeader {
    margin: 5px;
    border: 1px solid black;
    display: flex;
    padding: 5px;
}

.yearGrowth {
    display: grid;
}

.sideMargin {
    margin: 0px 50px;
}
