table {
    width: 100%;
}

.tickerInput,.sharesInput,.priceInput,.adjustmentInput {
    width: 100%;
}

.center {
    text-align: center;
}

.accountTotal {
    float: right;
}

.masterTotals {
    text-align: center;
    font-size: 25px;
}

.addAccountWrapper {
    text-align: right;
    padding-right: 80px;
    margin-bottom: 20px;
}
