body {
    font-family: "Times New Roman";
}

.description {
    text-align: center;
}

.netWorthHeader {
    margin: 5px;
    border: 1px solid black;
}

.netWorthHeaderWrapper {
    display: flex;
    width: 1003px;
    margin: auto;
}

.sideBottomMargin {
    margin: 0px 50px;
}

td > input {
    width: 65px;
}

td {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@media (max-width: 1200px) {
    .netWorthHeader {
        width: 280px;
        margin: auto;
    }
    .netWorthHeaderWrapper {
        display: block;
        width: 260px;
    }
    
    .sideBottomMargin {
        margin: 8px 0;
        text-align: center;
    }
}
