.timeline {
    display: flex;
    margin: 15px 15%;
    padding: 15px;
    border: solid 1px black;
}

#simulatedYears,#simulatedMonths,#ageYears,#ageMonths,#netWorth {
    margin-left: 10px;
    margin-right: 20px;
}

.wrapper {
    display: flex;
}

.card {
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 20px 40px;
    padding: 15px;
}

.buttonPanel {
    padding: 15px;
}

.mainButton {
    background-color: #5B3758;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.mainButton:hover {
    background-color: #7b4a77;
}

.netWorthWrapper {
    border: solid 1px green;
    display: flex;
    padding: 15px;
}

.description {
    text-align: center;
}
