.timeline {
    display: flex;
    margin: 15px 15%;
    padding: 15px;
    border: solid 1px black;
}

#simulatedYears,#simulatedMonths,#ageYears,#ageMonths,#netWorth {
    margin-left: 10px;
    margin-right: 20px;
}

.wrapper {
    display: flex;
}

.card {
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 20px 40px;
    padding: 15px;
}

.buttonPanel {
    padding: 15px;
}

.netWorthWrapper {
    border: solid 1px green;
    display: flex;
    padding: 15px;
}

.description {
    text-align: center;
}

#totalGivingPayment {
    display: inline;
}
