.timeline {
    display: flex;
    margin: 15px 15%;
    padding: 15px;
    border: solid 1px black;
}

#simulatedYears,#simulatedMonths,#ageYears,#ageMonths,#netWorth {
    margin-left: 10px;
    margin-right: 20px;
}

.wrapper {
    display: flex;
}

.buttonPanel {
    padding: 15px;
}

.netWorthWrapper {
    border: solid 1px green;
    display: flex;
    padding: 15px;
}

.description {
    text-align: center;
}

#totalGivingPayment {
    display: inline;
}

.inputs {
    width: 25%;
}

.totalAmounts {
    width: 75%
}

.inputsTable {
    margin: 0 auto;
    &input {
        width: 130px;
    }
}

.leftInputCard {
    width: 105px;
}

.topBorderGreen {
    border-top: 2px solid green;
}

.bottomBorderGreen {
    border-bottom: 2px solid green;
}

.topBorderBlue {
    border-top: 2px solid blue;
}

.bottomBorderBlue {
    border-bottom: 2px solid blue;
}

.topBorderRed {
    border-top: 2px solid red;
}

.bottomBorderRed {
    border-bottom: 2px solid red;
}

.topBorderOrange {
    border-top: 2px solid orange;
}

.bottomBorderOrange {
    border-bottom: 2px solid orange;
}

.transferWrapper {
    border: 2px solid brown;
    margin-top: 10%;
    padding: 5px;
}

.transferButton {
    width: 100%;
}

#transferAmountInput {
    width: 105px;
}

#updateRentalIncomeButton {
    width: 140px;
    height: 20px;
    padding: 2px 2px;
    font-size: 11px;
}

@media (max-width: 1200px) {
    .wrapper {
        display: unset;
    }
    
    .inputs {
        min-width: 288px;
        margin: 0 auto;
    }
    
    .totalAmounts {
        width: unset;
        min-width: 738px;
    }
    
    .totalAmountsTable {
        margin: 0 auto;
    }
}
